body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}


ul,ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo .logo-part {
    color: #2e2f42;
}

.footer-logo .logo-part {
    color: #f4f4fd;
}

.nav-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}

.contacts {
    font-style: normal;
}

.contacts-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.page-footer {
  background-color: #2e2f42;
}

.hero-section {
    background-color: #2e2f42;
}

.hat {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
}

.button-hat {
   font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4d5ae5;
    cursor: pointer;
}

.button-hat:hover,
.button-hat:focus {

background-color: #404bbf
}

.title-people {
text-align: center;
    background-color: #f4f4fd;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.footer-list {

font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}



.title-people {
    text-align: center;
    background-color: #f4f4fd;

}

.people-item h3 {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.people-item p {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
}

h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-features h3 {
    font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;

}

.section-features p {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
   

.team-section {
    background-color: #f4f4fd;
}

.people-item {
   
    background-color: #fff ;
}

.portfolio-list h3 {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}

.portfolio-list p {
    font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}